.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }
  
  .modal__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .modal__container {
    background-color:#FFF0E1;
    padding: 2rem;
    max-width: 1200px;
    width: 100%;
    height: 90%;
    min-height: 16rem;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FFF0E1;
  }
  
  .modal__title {
    margin: 0;
  }
  
  .modal__close {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .modal__content {
    margin-top: 2rem;
  }
  
  .modal__footer {
    margin-top: 2rem;
    text-align: right;
  }
  
  .modal__btn {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .modal.is-open {
    display: block;
  }
  