/* Typography */

/* Brand Colors */
:root {
  --pastel-pink: #E5B6B0;
  --sunflower-yellow: #F1B041;
  --off-white: #FFFOE1;
  --dark-green: #353E2D;
  --olive-green: #6A7350;
  --dusty-rose: #C09A8A;
  --black: #000;
  --white: #fff;
}

.white {
  color: var(--white);
}
.black {
  color: var(--black);
}

.yellow-bg {
  background-color: var(--sunflower-yellow);
}

.pink-bg {
  background-color: var(--pastel-pink);
}

.off-white-bg {
  background-color: var(--off-white);
}

.pl-2 {
  padding-left: 2rem;
}
.pr-2 {
  padding-right: 2rem;
}
.ml-2 {
  margin-left: 2rem;
}

.mr-2{
  margin-right: 2rem;
}

.text-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.vertical-center {
  display: flex; /* Enables flexbox */
  align-items: center; /* Vertically centers the flex items */
  justify-content: flex-end; /* Aligns the content to the right */
}

html {
  height: 100%;
  margin: 0;
  font-size: 100%;
}

body {
  min-height: 100vh;
  padding-bottom: 85px;
  box-sizing: border-box;
}

/* Overlay style */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  display: none; /* Hidden by default */
  z-index: 99999998; /* Below the menu but above other content */
}

body,
button,
input,
textarea {
  font-family: 'Lato', sans-serif;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  color: var(--black);
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 4px;
  word-wrap: break-word;
  text-transform: uppercase;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

/* Hide on mobile, display on desktop */
.hide-on-mobile {
  display: none;
}
.hide-on-desktop {
  display: block;
}

.intro {
font-size: 1.25rem;
font-family: Lato;
font-weight: 400;
letter-spacing: 0.50px;
word-wrap: break-word;
color: var(--white);
}


/* Button styling */
button {
  background-color: var(--sunflower-yellow);
  color: var(--dark-green);
  border: none;
  padding: 1rem 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--dusty-rose);
}

/* Link styling */
a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var( --dark-green);
}

.cta-button {
  width: 100%;
  background-color: var(--sunflower-yellow);
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin-top: 30px;
  max-width: 300px;
  color: #000;
  font-size: 16px;
  font-family: Lato;
  font-weight: 400;
  word-wrap: break-word;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

/* Add styles for hover state for better user interaction feedback */
.cta-button:hover,
.cta-button:focus {
  background-color: #e09c32;
}


/* Responsive adjustments for mobile device */
@media (max-width: 768px) {

  header{
    background-color: rgba(0, 0, 0, 0.45); 
    height: auto;
    z-index: 999999;
  }

  header, nav {
  height: 60px;
  }

  .menu{
    float: right;
    top: 10px;
    z-index: 99999999;
    position: relative;
  }

 
  img.menu-icon.mobile {
   width: 4.1875rem;
  }

  .cta-button {
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    width: 15.625rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 
  }

  .cta-button:hover {
    /* Optional: Slightly different shadow on hover for a dynamic effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .intro-container {
    width: 100%; /* Match the parent's width */
    min-height: 300px; /* Adjust as necessary */
    z-index: 1; /* Ensure the text is above the image */
    padding-top: 68%;
  }

  .intro-container h1 {
    color: var(--white);
  }
  .intro {
    letter-spacing: 0.1rem;
    font-weight: 300;
    font-size: 1.4rem;
  }

  .pr-mobile-2 {
    padding-right: 2rem;
  }

  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/assets/img/ludnie-mobile.JPG') no-repeat center center;
    background-size: cover; /* Cover the entire page */
    z-index: -1; /* Ensure the image is behind the content */
  }

  body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25); /* Example overlay color and opacity */
    z-index: 0; /* Above the image, but below the content */
  }

  .footer-menu ul {
    display: flex;
    justify-content: space-between; /* Evenly distributes space between items */
    align-items: center; /* Align items vertically in the center */
    flex-wrap: nowrap; /* Prevents wrapping, enforcing a single line */
    line-height: 5.3125rem;
  }
  
  .footer-menu li {
    margin: 0;
    list-style: none;
  }
  
} /* End of media query for all mobile devices */

@media (max-width: 480px) {
  /* Styles for smaller Android devices */
  .intro-container { 
    padding-top: 40%;
    width: 90%;
    margin: 0 auto;
  }

  .intro-container h1,
  .intro-container p {
    padding-left: 1rem;
  }

  header > nav { 
    margin: 0 1.5rem;
   }
   .cta-container {
    margin-left: 1rem;
   }
} /*end of media query for smaller Android devices */

@media (max-width: 390px) {
  /* Styles for slightly larger iPhones */
  .intro-container { 
    padding-top: 20%;
    width: 95%;
  }
  #navigation-links {
    box-sizing: border-box;
  }
 
}/*end of media query for slightly larger iPhones */

@media (max-width: 320px) {
  /* Styles for very small iPhones */
  .intro-container { 
    padding-top: 1rem;
  }
}/*end of media query for very small iPhones*/


/* Layout and Grid */
.container, footer, header {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

/* header, images, etc. */
.image-container {
  position: relative;
}

/* Footer */
footer {
  position: fixed;
  background-color: var(--pastel-pink);
  height: 85px;
  bottom: 0;
  z-index: 9999999;
  border-top: 2px solid var(--dark-green);
}

/* Desktop styles inside this media query */

@media (min-width: 769px) {

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header, nav, .brand {
    height: 78px;
    background-color: var(--pastel-pink);
  }

  .brand {
    color: #000;
    width: 100%;
    min-width: 600px; 
  }

  .intro-container {
    min-height: 300px;
    margin-top: 20%;
    margin-bottom: 3rem;
    margin-right: 2rem;
  }

  .intro-container h1 {
    font-size: 56px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 5.60px;
    word-wrap: break-word;
    text-transform: uppercase;
  }

  .intro {

    color: black;
    font-size: 28px;
    font-family: Lato;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.70px;
    word-wrap: break-word;
    max-width: 80%;
    margin-right: 2rem;
  }

  .brand p {
    color: black;
    font-size: 24px;
    font-family: Lato;
    font-weight: 300;
    letter-spacing: 6px;
    word-wrap: break-word;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .menu {
    max-width: 130px;
    background-color: var(--pastel-pink);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 78px;
  }

  .menu-icon {
    width: 70%;
    cursor: pointer;
  }

  .hide-on-mobile {
    display: block;
  }

  .hide-on-desktop {
    display: none;
  }

  header {
    position: relative;
    z-index: 1;
    background-color: var(--pastel-pink);
  }

  .float-image {
    position: absolute;
    top: -10rem;
    right: 8rem;
    z-index: 10;
    width: 87%;
  }
  .footer-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
footer li {
  list-style-type: none;
}
  
  footer li a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 85px;
  }

}/* End of braket for media query */

/* Desktop styles above end here  */