---
import Layout from '../components/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../styles/base.css';
//import content from '../data/content.json';
// You may import any other components you need here.
---
<Layout title="Ludnie Cassie Augustin - Nutritionist & Model">
  
 
  <Header />
  <div class="container">
  <div class="row">
    <div class="one-half column">
      <div class="intro-container">
      <h1>Hi, I'm Cassie</h1>
      <p class="intro">I am a nutritionist passionate about women health, fashion, and modeling.</p>
      
       <div class="cta-container">
          <a href="#your-target" class="cta-button" aria-label="Call to Action">Vote for me</a>
        </div> 
      </div>
    </div>
    <div class="one-half column image-container ">
      <img class="u-max-full-width float-image " src="/assets/img/Ludnie.jpg" alt="A portrait of Ludnie Augustin showcasing her natural curly hair and bold makeup, with a focus on her expressive eyes and glossy lips, complemented by elegant earrings." class="float-image">
    </div>
  </div>

 <!-- Modal Sections -->
 <section id="about" class="modal">
  <!-- About content goes here -->
</section>

<section id="miss-choucoune" class="modal">
  <!-- Miss Choucoune content goes here -->
</section>

<section id="lookbook" class="modal">
  <!-- Lookbook content goes here -->
</section>

<section id="contact" class="modal">
  <!-- Contact content goes here -->
</section>

</div>
</Layout>

<Footer />
