---
import Layout from '../components/Layout.astro';
import Modal from '../components/Modal.astro';

//import content from '../data/content.json';
---
<Layout title="Ludnie Cassie Augustin - Nutritionist & Model">
  <main>
  <div class="container">
  <div class="row">
    <div class="six columns">
      <div class="intro-container">
      <h1 class="pl-2">Hi, I'm Cassie</h1>
      <p class="intro pl-2 pr-mobile-2 ">I am a nutritionist passionate about women health, fashion, and modeling.</p>
      
       <div class="cta-container">
          <a href="#your-target" class="cta-button ml-2" aria-label="Call to Action">Vote for me</a>
        </div> 
      </div>
    </div>
    <div class="six columns image-container hide-on-mobile  ">
      <img class="u-max-full-width float-image " src="/assets/img/Ludnie.jpg" alt="A portrait of Ludnie Augustin showcasing her natural curly hair and bold makeup, with a focus on her expressive eyes and glossy lips, complemented by elegant earrings." class="float-image">
    </div>
  </div>
  <Modal />
</div>
</Layout>
</main>