---
import Layout from '../components/Layout.astro';
import Modal from '../components/Modal.astro';

//import content from '../data/content.json';
---
<Layout title="Ludnie Cassie Augustin - Nutritionist & Model">
  <main>
  <div class="container">
  <div class="row">
    <div class="six columns">
      <div class="intro-container">
      <h1 class="pl-2">Hi, I'm Cassie</h1>
      <p class="intro pl-2 pr-mobile-2 ">I am a nutritionist passionate about women health, fashion, and modeling.</p>
      
       <div class="cta-container ml-2">
          <a href="https://poll.fm/13335928" class="cta-button" aria-label="Call to Action">Vote for me</a>
          <p>
            Vote for me for the People's Choice <br/> in the Miss Choucoune Pageant. 
          </p>
          </p>
        </div> 
      </div>
    </div>
    <div class="six columns image-container hide-on-mobile  ">
      <img class="u-max-full-width float-image " src="/assets/img/Ludnie.jpg" alt="A portrait of Ludnie Augustin showcasing her natural curly hair and bold makeup, with a focus on her expressive eyes and glossy lips, complemented by elegant earrings." class="float-image">
      <div class="vertical-bar-container">
        <span class="bar-number">01</span>
        <!-- Your bar image goes here -->
        <img src="/assets/icons/bar.png" alt="Vertical bar" class="vertical-bar">
    </div>
    </div>
  </div>
  <Modal />
</div>
</Layout>
</main>