---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png"/>
    <!-- Ensure the paths here are correct -->
    <link rel="stylesheet" href="/normalize.css"/>
    <link rel="stylesheet" href="/skeleton.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
	<title>{title}</title>
  <script src="/assets/js/micromodal.min.js" defer></script>
  
  <style>
    section {
        margin-top: 2rem;
    }
  
    ul {
        list-style: none;
        padding: 0;
        margin: 0 6rem;
    }
   section a {
        text-decoration: underline;
        color: #333;
    }
    section .h-link {
        text-decoration: none ;
    }
  
   
  </style>
  
  <script>
  document.addEventListener('DOMContentLoaded', function () {
      MicroModal.init({
          // Configuration options
          onShow: modal => console.info(`${modal.id} is shown`),
          onClose: modal => console.info(`${modal.id} is hidden`),
          openTrigger: 'data-micromodal-trigger',
          closeTrigger: 'data-micromodal-close',
          openClass: 'is-open',
          disableScroll: true,
          disableFocus: false,
          awaitOpenAnimation: false,
          awaitCloseAnimation: true,
          debugMode: false
      });
  });
  </script>

<script>
 document.addEventListener('DOMContentLoaded', function() {
    const header = document.querySelector('header'); // Select the header element
    // Check if the current URL includes 'lookbook' or 'blog'
    if (window.location.href.includes("/lookbook") || window.location.href.includes("/blog")) {
        header.style.backgroundColor = "var(--pastel-pink)"; // Change the header's background color
    }
});

</script>

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0M6Z3LTZNX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0M6Z3LTZNX');
</script>
</head>

