---
import type { CollectionEntry } from 'astro:content';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from './BaseHead.astro';
import Modal from '../components/Modal.astro';
import '../styles/base.css';
import '../styles/modal.css';
import '../styles/blog.css';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, url } = Astro.props;

---

<BaseHead title="Blog" />
<body>
    <style>
       .hero-text {
        position: absolute;
        font-size: 2.5rem;
        z-index: 1;
        height: 8rem;
    
       }


       @media screen and (min-width: 320px) {
        .hero-text {
            margin-left: 2.125rem;
            height: 4rem;
            top: 15%;
            color: var(--white);
        }
        .hero-text p:first-child {
            font-size: 1.75rem;
            font-family: 'Playfair Display', serif;
            letter-spacing: 1.2px;

        }

        .hero-image .sunflower-decor {
            position: absolute;
            top: 35%; /* Adjust as needed */
            right: 0;
            width: 100px; /* Adjust as needed */
            height: auto; /* Maintain aspect ratio */
            z-index: 10; /* Ensure it's above the other elements */
}
       }

       @media screen and (min-width: 768px) {

        .hero-text {
            margin-left: 6.875rem;
            color: var(--black);
            top: 25%;
        }
        .hero-text p:first-child {
            font-size: 2.5rem;
            font-family: 'Playfair Display', serif;
            letter-spacing: 1.2px;
        }
       }

    </style>
    <div class="overlay" id="overlay"></div>
    <Header />
    <div class="hero-image">
        <picture>
          <!-- Use source elements for different screen sizes -->
          <source media="(max-width: 768px)" srcset="/assets/img/banner-image-mobile.png">
          <source media="(min-width: 769px)" srcset="/assets/img/banner-image-desktop.png">
          <!-- Fallback image -->
          <img src="/assets/img/banner-image-desktop.png" alt="">
        </picture>
        <div class="hero-text">
          <p>The Nourished </br>Runway</p>
          <p>A blog by Cassie Augustin</p>
        </div>
        <img src="/assets/img/sunflower-clear.png" alt="" class=" hide-on-desktop sunflower-decor" /> <!-- Sunflower image -->

      </div>
    <main>
        <div class="container">
        
            <div class="row">
                <div class=" eight columns posts">
            <article>
                <div class="breadcrumb"><a href="/">Home </a> / <a href="/blog">Blog</a></p></div>
            <div class="prose">
                <div class="title">
                    <div class="date">
                        <FormattedDate date={pubDate} />
                        {
                            updatedDate && (
                                <div class="last-updated-on">
                                    Last updated on <FormattedDate date={updatedDate} />
                                </div>
                            )
                        }
                    </div>
                    <h1>{title}</h1>
                    <hr />
                </div>
                <slot />
            </div>
        </article>
          </div>
          <div class=" four columns hide-on-mobile">
            <aside>
            <div class="side-images">
            <img class="flower" src="/assets/img/flower-square.png" alt="" />
            <img class="cross" src="/assets/img/health-cross.png" alt="" />
            <img class="flower" src="/assets/img/flower-square.png" alt="" />
            </aside> 
            </div>
            </div>
        </div>
    </div>
    <Modal />
    </main>
    <Footer />
</body>
</html>