<footer class="u-full-width">
    <div class="container">
      <ul>
        <li><a href="#about" rel="modal:open">About</a></li>
        <li><a href="#miss-choucoune" rel="modal:open">Miss Choucoune</a></li>
        <li><a href="#lookbook" rel="modal:open">Lookbook</a></li>
        <li><a href="#contact" rel="modal:open">Contact</a></li>
        <!-- You can add your Blog link here later -->
      </ul>
      </div>
  </footer>