<footer class="footer">
    <nav class="footer-menu hide-on-mobile">
      <ul class="footer-desktop hide-on-mobile">
        <li class="pl-2"><a href="#" data-micromodal-trigger="modal-about">About</a></li>
        <li><a href="#" data-micromodal-trigger="modal-miss-choucoune">Miss Choucoune</a></li>
        <li><a href="#" data-micromodal-trigger="modal-lookbook">Lookbook</a></li>
        <li><a href="/blog">Blog</a></li>
        <li class="pr-2"> <a href="#" data-micromodal-trigger="modal-contact">Contact</a></li>
        <!-- You can add your Blog link here later -->
      </ul>
    </nav>
      <nav class="footer-menu hide-on-desktop ">
       <ul class="footer-mobile hide-on-desktop">
        <li class="pl-2"><a href="#" data-micromodal-trigger="modal-about">About</a></li>
        <li><a href="#" data-micromodal-trigger="modal-lookbook">Lookbook</a></li>
        <li class="pr-2"><a href="#miss-choucoune" rel="modal:open">More</a></li>
      </ul>
    </nav>
      
  </footer>