<footer class="footer">
    <nav class="footer-menu hide-on-mobile">
      <ul class="footer-desktop hide-on-mobile">
        <li class="pl-2"><a class="footer-link" href="#" role="button" data-micromodal-trigger="modal-about">About</a></li>
        <li><a class="footer-link" href="/lookbook">Lookbook</a></li>
        <li><a class="footer-link" href="/blog">Blog</a></li>
        <li class="footer-link pr-2"><a href="#" role="button" data-micromodal-trigger="modal-contact">Contact</a></li>
      </ul>
    </nav>
      <nav class="footer-menu hide-on-desktop ">
       <ul class="footer-mobile hide-on-desktop">
        <li class="pl-2"><a href="#" role="button" data-micromodal-trigger="modal-about">About</a></li>
        <li><a href="/lookbook">Lookbook</a></li>
        <li class="pr-2"><a href="#more-menu" id="more-btn">More</a></li>
      </ul>
      <!-- Modal Structure (hidden by default) --></nav>
      <div id="more-menu" class="more-menu">
        <ul>
            <li><a class="footer-link" href="/">Home</a></li>
            <li><a class="footer-link" href="#" role="button" data-micromodal-trigger="modal-contact">Contact</a></li>
            <li><a class="footer-link" href="/blog">Blog</a></li>
        </ul>
      </div>
  </footer>
