<header>
    <nav>
      <div class="brand">
        <p class="logo pl-2 hide-on-mobile">Ludnie Cassie Augustin</p>
      </div>
       <!-- This can be a button or an icon that toggles a mobile menu -->
       <div class="menu" id="menu" aria-label="Toggle menu" tabindex="0">
        <img class="menu-icon hide-on-mobile" src="/assets/icons/menu.png"/>
        <img class="menu-icon mobile hide-on-desktop" id="menu-mobile" src="/assets/icons/menu-2.png"/>
      </div>
    </nav>
  </header>

  <div id="navigation-links" class="navigation-links off-white-bg">
    <p class="text-align-right"><a href="#" class="btn-close">Close <img class="close-icon" src="/assets/icons/close.png"/></a>
    </p>
    <ul class="menu-top">
      <li><a href="/">Home</a></li>
     <li><a href="#about">About</a></li>
      <li><a href="#miss-choucoune">Miss Choucoune</a></li>
      <li><a href="#lookbook">Lookbook</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>

    <div class="menu-footer">
      <ul>
      <li><a href="#">Legal</a></li>
      <li><a href="#">Privacy</a></li>
      </ul> 
      <p>&copy; Copyright 2024</p>
    </div>
  </div>

  <style>

#navigation-links {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  max-width: 400px;
  z-index: 99999999;
  height: 100vh; 
  top: 0;
  right: 0;
  display: none;
  background-color: #FFF0E1;

}

#navigation-links.active {
  display: block;
}

.btn-close {
 padding-rigth: 0.8rem;
}
.close-icon {
  width: 3.75rem; /* Reduce the size of the 'X' image */
  height: auto;
  vertical-align: middle; /* Vertically align the 'X' with respect to adjacent text */
}

#navigation-links ul {
  list-style: none;
  margin-top: 3rem;
}

#navigation-links .menu-top li {
  font-family: Playfair Display;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: left;
  border-bottom: 2px solid #000;
  padding-bottom: 0.25rem;
}

.menu-footer ul li {
 display: inline;
 padding-right: 1rem;
}

#navigation-links .menu-footer {
  margin-top: 20px;
}

</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Unified event listener for menu toggle, close actions, and close icon
    document.body.addEventListener('click', function(event) {
      if (event.target.id === 'menu' || event.target.closest('#menu') ||
          event.target.id === 'menu-mobile' || 
          event.target.classList.contains('btn-close') ||
          event.target.classList.contains('close-icon')) {
        console.log('Toggle or Close action triggered');
        toggleMenu();
      }
    });
  });

  menu.addEventListener("keydown", function(event) {
    // Check if Enter or Space is pressed
    if (event.keyCode === 13 || event.keyCode === 32) {
      toggleMenu();
    }
  });
  
  function toggleMenu() {
    var navigationLinks = document.getElementById('navigation-links');
    var overlay = document.getElementById('overlay');
    
    // Toggle the active class and display property
    navigationLinks.classList.toggle('active');
    overlay.style.display = (overlay.style.display === 'none' || overlay.style.display === '') ? 'block' : 'none';
  }
  
  // Setup the click event handler for the overlay to close the menu
  document.getElementById('overlay').onclick = function() {
    toggleMenu(); // This will hide the overlay and menu
  };
  </script>