---
import { useSanity } from '../lib/useSanity';
import { getNavPages } from '../lib/sanityQueries';

const useCms = useSanity();
const navPages = useCms ? await getNavPages() : [];
const legalLinks = navPages.length > 0
  ? navPages
  : [
      { title: 'Terms', slug: 'terms-of-service' },
      { title: 'Privacy', slug: 'privacy-policy' },
    ];
---
<a class="skip-link" href="#main-content">Skip to content</a>
<header class="header">
    <nav>
      <div class="brand">
        <a href="/"><p class="logo pl-2 hide-on-mobile">Ludnie Cassie Augustin</p></a>
      </div>
       <!-- This can be a button or an icon that toggles a mobile menu -->
       <button class="menu" id="menu" aria-label="Toggle menu" type="button">
        <img class="menu-icon hide-on-mobile" src="/assets/icons/menu.png" alt=""/>
        <img class="menu-icon mobile hide-on-desktop" id="menu-mobile" src="/assets/icons/menu.png" alt=""/>
      </button>
    </nav>
  </header>

  <div id="navigation-links" class="navigation-links off-white-bg">
    <p class="text-align-right"><a href="#" class="btn-close">Close <img class="close-icon" src="/assets/icons/close.png"/></a>
    </p>
    <ul class="menu-top">
      <li><a href="/">Home</a></li>
     <li><a href="#" role="button" data-micromodal-trigger="modal-about">About</a></li>
      <li><a href="/lookbook">Lookbook</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="#" role="button" data-micromodal-trigger="modal-contact">Contact</a></li>
    </ul>

    <div class="menu-footer">
      <ul>
      {legalLinks.map((page) => (
        <li><a href={`/${page.slug}`}>{page.title}</a></li>
      ))}
      </ul>
      <p>&copy; Copyright {new Date().getFullYear()}</p>
    </div>
  </div>
