 <!-- Modal Sections -->
 <section id="about" class="modal">
    <!-- About content goes here -->
  </section>
  
  <section id="miss-choucoune" class="modal">
    <!-- Miss Choucoune content goes here -->
  </section>
  
  <section id="lookbook" class="modal">
    <!-- Lookbook content goes here -->
  </section>
  
  <section id="contact" class="modal">
    <!-- Contact content goes here -->
  </section>