
 <!-- Modal for About -->
<div class="modal micromodal-slide" id="modal-about" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-about-title">
      <header class="modal__header">
        <div></div>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close>
          <p class="text-align-right vertical-center">Close <img class="modal-icon-close" src="/assets/icons/close.png"/></a></p>
          </button>
      </header>
      <main class="modal__content" id="modal-about-content">
        <!-- About content goes here -->
        <div class="row">
          <div class="one-half column">
            <h2 id="modal-about-title">
              About
            </h2>

          <p>I am Ludnie Cassie Augustin, your newfound online bestie <3. </p>
            <p>As a dedicated nutritionist with an unwavering faith In God,
            I am deeply passionate about empowering women to embrace holistic wellness.
            My journey transcends the boundaries of conventional nutrition. With a heart for women’s health, 
            a flair for fashion and an eye for modeling, I am committed to uplift and hopefully inspire you to embrace self-love and acceptance. 
            Here you will find a harmonious fusion of nutrition insight, faith-based guidance, Style inspirations and glimpses into the world of modeling. 
            Together let’s embark on a transformative journey toward a healthier and more radiant you. 
            Make yourself at home!! And I mean that will all my heart.</p>
              
                <p>Xoxo,<br/>
                Cassie</p>
              
            </div>
            <div class="one-half column"><img class="modal-img" src="/assets/img/ludnie-pink-dress.jpg"/></div>

          </div>
        </div>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- Repeat for other sections, changing IDs and content accordingly -->

<!-- Modal for Miss Choucoune -->
<div class="modal micromodal-slide" id="modal-miss-choucoune" aria-hidden="true">
  <!-- ... structure similar to above ... -->
</div>

<!-- Modal for Lookbook -->
<div class="modal micromodal-slide" id="modal-lookbook" aria-hidden="true">
  <!-- ... structure similar to above ... -->
</div>

<!-- Modal for Contact -->
<div class="modal micromodal-slide" id="modal-contact" aria-hidden="true">
  <!-- ... structure similar to above ... -->
</div>




  